 <div align="center">
    <h1>WEB DATA MANAGEMENT PROJECT PHASE-1</h1>
    <button id="button">CLICK FOR DATA</button></div>
    <table id="tab" width="80%" border="1" align="center" >
    <tr>
      <td>Serial no. </td>
      <td>Programming Language: </td>
      <td>Designed by:</td>
      <td>Year published in: </td>
      <td>Typing Discipline: </td>
      <td>people using(in thousands): </td>
      <td>Location: </td>
      
    </tr>
    
    </table>
<br>
<br>
  
   
  
  